* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

button {
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}

button:active {
  opacity: 60%;
}

#date-bar {
  text-align: center;
  background-color: #aac9c3;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-bottom: #92bab1 2px solid;
  min-width: 350px;
  font-size: 16px;
  text-shadow: 1px 1px 2px #92bab1
}

#garret-content {
  padding: 10px;
  background-color: #c6dbdc;
}

#content-title {
  text-align: center;
  margin: 0 0 10px;
  color: white;
  text-shadow: 1px 1px 2px #92bab1;
}

#to-do {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #92bab1;
}

#task-title {
  text-align: center;
  font-size: 16px;
}

#tasks-list {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  font-size: 12px;
  display: flex;
}

#add-button {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.task-button {
  padding: 5px 10px;
  color: #aac9c3;
  background-color: white;
  border: 2px solid #aac9c3;
}

#add-tools {
  text-align: center;
}

#add-tools hr {
  margin-top: 10px;
}

#add-text-input {
  min-width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #92bab1;
}

.add-options-button {
  padding: 5px 10px;
  background-color: #c6dbdc;
  border: 2px solid #aac9c3;
  color: white;
}

#productivity-options {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.dark-button {
  background-color: #aac9c3;
  color: white;
  border: 2px solid #92bab1;
  flex: 1;
  margin: 0 3px;
  padding: 7px 5px;
}

.check {
  margin-right: 6px;
}