* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}

button:active {
  opacity: 60%;
}

#date-bar {
  text-align: center;
  background-color: #aac9c3;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-bottom: #92bab1 2px solid;
  min-width: 400px;
}

#garret-content {
  padding: 10px;
}

#content-title {
  text-align: center;
  margin: 10px 0;
}

#task-title {
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}

#tasks-list {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.task {
  font-size: 15px;
}

#add-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#add-task-button {
  padding: 5px 10px;
  color: #aac9c3;
  background-color: white;
  border: 2px solid #92bab1;
}

#add-tools {
  text-align: center;
  margin-bottom: 20px;
}

#add-text-input {
  min-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.add-options-button {
  padding: 5px 10px;
  background-color: white;
  border: 2px solid black;
}

#productivity-options {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.dark-button {
  background-color: #aac9c3;
  color: white;
  border: 2px solid #92bab1;
  flex: 1;
  margin: 10px;
}

.check {
  margin-right: 5px;
}